@use "../abstracts/" as *;
.shoppingMainContent {
  display: flex;
  flex-direction: column;
  & h1 {
    padding: 0rem 3.5rem;
    font-size: 0.8rem;
    color: rgb(161, 159, 159);
    margin-bottom: 0.1rem;
  }
}
.shoppingMainContent-container {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
}
