.landingpage-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  height: 100vh;
  
  @media (max-width: 375px) {
    height: 0vh;
    visibility: hidden;
    padding: 0 !important;
  }
}

.landingpage-sidebar__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 33vh;
  & h1 {
    color: #fc7b6b;
    font-weight: 600;
    font-size: 1.3rem;
  }

  & ul li {
    padding: 0.2rem 1rem;
    margin: 1rem 0;
    &:hover {
      background-color: #fcfcfc;
      border-radius: 20px;
    }
  }
}
