@use "../abstracts" as *;
.header {
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  // align-content: center;
  padding-bottom: 0;
  margin-bottom: 0;
  &_logo {
    width: 100%;
    padding: 1rem 0;
    align-self: flex-start;
  }
  & input{
    margin-top: -1rem;
    font-weight: normal;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 0.2rem 1.5rem;
    // align-self:flex-end;
  }
 
}
.header-items {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  & li {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.9rem 2.4rem;
    padding-bottom: 0.1rem;
    &  a{
      transition:color ease-in 0.1s;
    }
    & a:hover{
      color: #fc7b6b;
      
    }
  }
}
