@use "../abstracts" as *;
.header{
   
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgb(253, 244, 244) 0%,
    rgb(255, 209, 226) 100%);
    border-bottom: 1px solid rgba(182, 182, 182, 0.411);
   &_logo{
     width: 100%;
    //  padding:0.6rem 5rem;
     padding:1rem 0;
     align-self:flex-start;
   }
     .header-items li{
     cursor: pointer;
    //  border-right: 1px solid rgba(153, 153, 153, 0.733);
     
   }
}
.header-items{
  display: flex;
  justify-content: space-between;
  width: 100%;

  & li{

    padding:1rem 6.3rem;
  }
}