
.item{
    // background-color: aqua;
    margin:0rem 1rem;
    margin-bottom:0.2rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media(max-width:1000px){
      font-size: 1.2rem;
      }

}
.item-img{
    width: 100%;
    height: 20rem;
    & img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}