
.item{
    // background-color: aqua;
    margin:0rem 1rem;
    margin-bottom:0.2rem ;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}
.item-img{
    width: 100%;
    height: 10rem;
    & img{
        height: 90%;
    }
}