@use "../abstracts" as *;
.sideCart {
    background-color: #fe8f80;
    margin-left: 1rem;
    border-radius: 30px;
    padding: 2rem 1rem;
    color: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .sideCart-cart__items {
    overflow-y:auto;
    height:56vh;
  }
  .sideCart-cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fc7b6b;
    margin-bottom: 1rem;
    padding: 0.6rem 1rem;
    border-radius: 20px;
  
    &-detail {
      height: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    & h5 {
      font-size: 0.7rem;
    }
    & h4 {
      font-weight: 500;
    }
    & img {
      height: 4rem;
      object-fit: contain;
    }
  }
  
  .sideCart-cart__details {
    margin-top:0.4rem;
    display: flex;
    flex-direction: column;
    background-color: #fc7b6b;
    border-radius: 20px;
    padding: 1.2rem 1rem;
    line-height: 1.3;
    & button {
      border: none;
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      background-color: #fcfcfc;
      border-radius: 10px;
    }
    &-item {
      display: flex;
      justify-content: space-between;
    }
  }
  