@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
html::selection, body::selection, div::selection, span::selection, object::selection, iframe::selection, figure::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, blockquote::selection, pre::selection, a::selection, code::selection, em::selection, img::selection, small::selection, strike::selection, strong::selection, sub::selection, sup::selection, tt::selection, b::selection, u::selection, i::selection, ol::selection, ul::selection, li::selection, fieldset::selection, form::selection, label::selection, table::selection, caption::selection, tbody::selection, tfoot::selection, thead::selection, tr::selection, th::selection, td::selection, main::selection, canvas::selection, embed::selection, footer::selection, header::selection, nav::selection, section::selection, video::selection {
  background-color: #cee1fa;
  color: white;
}

body {
  background: #fef0f0;
  background: linear-gradient(30deg, #fdeaea 0%, #ffd1e2 100%);
}

input, button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 2rem 1rem;
}
@media (min-width: 768px) {
  .register {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: baseline;
  }
}

.imageContainer {
  width: 90vw;
  align-self: center;
  display: none;
}
@media (min-width: 768px) {
  .imageContainer {
    display: block;
    width: 45vw;
    padding-top: 1rem;
  }
}
.imageContainer img {
  width: 100%;
}

.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 1.2rem;
}
@media (min-width: 768px) {
  .sign {
    width: 50vw;
    align-self: center;
    justify-self: center;
    padding-top: 3rem;
  }
}
.sign input {
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  padding: 0.3rem;
}
.sign input::placeholder {
  color: #b1b1b1;
}

.alert {
  border: 2px solid #d11515;
}

.checkbox {
  border: 2px solid #2c2c2c;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
}

.terms {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: baseline;
}
.terms label {
  font-size: 0.9rem;
}
.terms label span {
  color: #0084FF;
  font-weight: 600;
}

.changeMethod {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  font-size: 0.9rem;
}

.login {
  color: #0084FF;
  font-weight: 600;
  cursor: pointer;
}

.button {
  background-color: #0084FF;
  padding: 0.5rem;
  border: none;
  margin: 1rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.header {
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  margin-bottom: 0;
}
.header_logo {
  width: 100%;
  padding: 1rem 0;
  align-self: flex-start;
}
.header input {
  margin-top: -1rem;
  font-weight: normal;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 0.2rem 1.5rem;
}

.header-items {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-items li {
  font-size: 0.9rem;
  padding: 0.9rem 2.4rem;
  padding-bottom: 0.1rem;
}

.landingpage {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-items: center;
  justify-items: stretch;
}

.landingpage-sidebar {
  height: 100vh;
}

.landingpage-main {
  border: 2px solid green;
}

.landingpage-cart {
  border: 2px solid blue;
}

.sideCart {
  background-color: #fe8f80;
  margin-left: 1rem;
  border-radius: 30px;
  padding: 1rem;
  color: #fcfcfc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.4s ease-in;
}

.sideCart-cart__items {
  overflow-y: auto;
  height: 50vh;
}

.sideCart-cart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fc7b6b;
  margin-bottom: 1rem;
  padding: 0.6rem 1rem;
  border-radius: 20px;
}
.sideCart-cart__item-detail {
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sideCart-cart__item h5 {
  font-size: 0.7rem;
}
.sideCart-cart__item h4 {
  font-weight: 500;
}
.sideCart-cart__item img {
  height: 4rem;
  object-fit: contain;
  border-radius: 15px;
}

.sideCart-cart__details {
  margin-top: 0.4rem;
  display: flex;
  flex-direction: column;
  background-color: #fc7b6b;
  border-radius: 20px;
  padding: 1.2rem 1rem;
  line-height: 1.3;
}
.sideCart-cart__details button {
  border: none;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #fcfcfc;
  border-radius: 10px;
}
.sideCart-cart__details-item {
  display: flex;
  justify-content: space-between;
}

.sideCart-cartButton {
  height: fit-content;
  width: fit-content;
  background-color: #fde8ea;
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  margin: 0;
  margin-bottom: 0.3rem;
  color: black;
  padding: 0.1rem 0.7rem;
  align-self: flex-end;
}

.landingpage-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
}

.landingpage-sidebar__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 33vh;
}
.landingpage-sidebar__menu h1 {
  color: #fc7b6b;
  font-weight: 600;
  font-size: 1.3rem;
}
.landingpage-sidebar__menu ul li {
  padding: 0.2rem 1rem;
  margin: 1rem 0;
}
.landingpage-sidebar__menu ul li:hover {
  background-color: #fcfcfc;
  border-radius: 20px;
}

.maincontent {
  padding: 2rem;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: #fef0f0;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  background: linear-gradient(0deg, #fde8ea 0%, #fef8fc 66%, #fcfcfc 100%);
  -webkit-box-shadow: -2px 1px 23px 8px rgba(0, 0, 0, 0.1);
  box-shadow: -2px 1px 23px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in;
}

.full {
  grid-template-columns: 2fr 0.01fr;
  transition: all 0.4s ease-in;
}

.maincontent-title {
  line-height: 1.2;
}
.maincontent-title h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.maincontent-title h5 {
  color: #797979;
}

.maincontent-images {
  width: fit-content;
  padding: 0 9rem;
  display: grid;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "img1  img2 img3" "img1 img4 img5";
}
.maincontent-images img {
  height: 7rem;
  object-fit: fill;
  margin-bottom: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}

.maincontent-images__img2 {
  grid-area: img2;
}

.maincontent-images__img3 {
  grid-area: img3;
}

.maincontent-images__img4 {
  grid-area: img4;
}

.maincontent-images__img5 {
  grid-area: img5;
}

.maincontent-images__img1 {
  grid-area: img1;
  min-height: 15rem;
  align-self: center;
}

.maincontent-images__main {
  height: 9rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
.maincontent-images__main img {
  width: 70%;
  object-fit: fill;
  height: 9rem;
  cursor: pointer;
}

.maincontent-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maincontent-hotseller__title {
  display: flex;
  justify-content: space-between;
}
.maincontent-hotseller__title h5 {
  font-weight: 500;
  font-size: 1.1rem;
}

.maincontent-cartButton {
  height: fit-content;
  padding: 0.2rem 1rem;
  background-color: #fde8ea;
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
  cursor: pointer;
}

.shopping {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4.5fr;
}

.shopping-right {
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  background: linear-gradient(200deg, #ffffff 0%, #ffffff 60%, #f7dee4 100%);
  -webkit-box-shadow: -2px 1px 23px 8px rgba(0, 0, 0, 0.1);
}

.subHeader {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
.subHeader div {
  padding: 0.2rem 10%;
  cursor: pointer;
}
.filterBar {
  padding: 1rem;
}
.filterBar div {
  padding: 0.2rem 1rem;
  margin: 1rem 0;
}
.filterBar div h5 {
  margin-bottom: 0.5rem;
}

.filterBar-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.filterBar-price div {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0.3rem;
}
.filterBar-price div div {
  width: max-content;
  margin-right: 0.1rem;
  font-size: 0.8rem;
  padding: 0.7rem 0.1rem;
  background-color: #fff4f9;
  border-radius: 10px;
}
.filterBar-price input {
  align-self: center;
  height: 0.2rem;
  background-color: white;
  width: 93%;
}

.filterBar-apply {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filterBar-apply h5 {
  font-size: 0.8rem;
}
.filterBar-apply button {
  height: fit-content;
  width: fit-content;
  background-color: #fc7b6b;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  color: black;
  padding: 0.4rem 1.3rem;
  align-self: flex-end;
}

.shoppingMainContent {
  display: flex;
  flex-direction: column;
}
.shoppingMainContent h1 {
  padding: 0rem 3.5rem;
  font-size: 0.8rem;
  color: #a19f9f;
  margin-bottom: 0.1rem;
}

.shoppingMainContent-container {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item {
  margin: 0rem 1rem;
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.item-img {
  width: 100%;
  height: 10rem;
}
.item-img img {
  height: 90%;
}

/*# sourceMappingURL=main.css.map */
