@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal; }
  html::selection, body::selection, div::selection, span::selection, object::selection, iframe::selection, figure::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, blockquote::selection, pre::selection, a::selection, code::selection, em::selection, img::selection, small::selection, strike::selection, strong::selection, sub::selection, sup::selection, tt::selection, b::selection, u::selection, i::selection, ol::selection, ul::selection, li::selection, fieldset::selection, form::selection, label::selection, table::selection, caption::selection, tbody::selection, tfoot::selection, thead::selection, tr::selection, th::selection, td::selection, main::selection, canvas::selection, embed::selection, footer::selection, header::selection, nav::selection, section::selection, video::selection {
    background-color: #cee1fa;
    color: white; }

body {
  background: #fef0f0;
  background: linear-gradient(30deg, #fdeaea 0%, #ffd1e2 100%); }

input, button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

a {
  text-decoration: none;
  color: inherit; }

img {
  width: 100%; }

.register {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 2rem 1rem;
  background-color: white;
  height: 100vh; }

.imageContainer {
  width: 90vw;
  align-self: center;
  display: block;
  width: 45vw;
  margin-top: -10rem; }
  .imageContainer img {
    width: 100%; }

.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
  width: 50vw;
  align-self: center;
  justify-self: center;
  padding-top: 3rem; }
  .sign label {
    font-size: 1.3rem;
    margin-bottom: 0.3rem; }
  .sign input {
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
    padding: 0.6rem 4.5rem;
    font-size: 1rem; }
    .sign input::placeholder {
      color: #b1b1b1; }

.alert {
  border: 2px solid #d11515; }

.checkbox {
  border: 2px solid #2c2c2c;
  cursor: pointer;
  padding: 1rem !important; }

.terms {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline; }
  .terms label {
    font-size: 1rem;
    margin-left: 0.4rem; }
    .terms label span {
      color: #0084FF;
      font-weight: 600; }

.changeMethod {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  font-size: 0.9rem; }

.login {
  color: #0084FF;
  font-weight: 600;
  cursor: pointer; }

.button {
  background-color: #0084FF;
  padding: 1rem 8rem;
  border: none;
  margin: 1rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem; }

@use "../abstracts" as *;
.header {
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  margin-bottom: 0; }
  @media (max-width: 600px) {
    .header {
      flex-wrap: wrap;
      visibility: hidden;
      max-width: min-content;
      background-color: #fc7b6b;
      border: 3px solid black; } }
  .header_logo {
    width: 100%;
    padding: 1rem 0;
    align-self: flex-start; }
  .header input {
    margin-top: -1rem;
    font-weight: normal;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 0.2rem 1.5rem; }
    @media (max-width: 1000px) {
      .header input {
        padding: 0.2rem 0.6rem; } }

.header-items {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .header-items li {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.9rem 2.4rem;
    padding-bottom: 0.1rem; }
    @media (max-width: 1000px) {
      .header-items li {
        padding: 0.2rem;
        font-weight: 300;
        font-size: 1rem; } }
    .header-items li a {
      transition: color ease-in 0.1s; }
    .header-items li a:hover {
      color: #fc7b6b; }

.landingpage {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-items: center;
  justify-items: stretch; }
  @media (max-width: 600px) {
    .landingpage {
      width: 100vw;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      margin: 0; } }
  @media (max-width: 1000px) {
    .landingpage {
      grid-template-columns: 0.4fr 5fr;
      max-width: 100vw;
      height: max-content; } }

@use "../abstracts" as *;
.sideCart {
  background-color: #fe8f80;
  margin-left: 1rem;
  border-radius: 30px;
  padding: 1rem;
  color: #fcfcfc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.4s ease-in; }

.sideCart-cart__items {
  overflow-y: auto;
  height: 50vh; }

.sideCart-cart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fc7b6b;
  margin-bottom: 1rem;
  padding: 0.6rem 1rem;
  border-radius: 20px; }
  .sideCart-cart__item-detail {
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .sideCart-cart__item h5 {
    font-size: 0.7rem; }
  .sideCart-cart__item h4 {
    font-weight: 500; }
  .sideCart-cart__item img {
    height: 4rem;
    object-fit: contain;
    border-radius: 15px; }

.sideCart-cart__details {
  margin-top: 0.4rem;
  display: flex;
  flex-direction: column;
  background-color: #fc7b6b;
  border-radius: 20px;
  padding: 1.2rem 1rem;
  line-height: 1.3; }
  .sideCart-cart__details button {
    border: none;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #fcfcfc;
    border-radius: 10px; }
  .sideCart-cart__details-item {
    display: flex;
    justify-content: space-between; }

.sideCart-cartButton {
  height: fit-content;
  width: fit-content;
  background-color: #fde8ea;
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  margin: 0;
  margin-bottom: 0.3rem;
  color: black;
  padding: 0.1rem 0.7rem;
  align-self: flex-end; }

.landingpage-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  height: 100vh; }
  @media (max-width: 600px) {
    .landingpage-sidebar {
      height: 0vh;
      visibility: hidden;
      padding: 0 !important; } }

.landingpage-sidebar__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 33vh; }
  .landingpage-sidebar__menu h1 {
    color: #fc7b6b;
    font-weight: 600;
    font-size: 1.3rem; }
  .landingpage-sidebar__menu ul li {
    padding: 0.2rem 1rem;
    margin: 1rem 0; }
    .landingpage-sidebar__menu ul li:hover {
      background-color: #fcfcfc;
      border-radius: 20px; }

.maincontent {
  max-width: 100vw;
  padding: 2rem;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  transition: all 0.4s ease-in; }
  @media (max-width: 600px) {
    .maincontent {
      padding: 1rem 1rem;
      display: flex;
      flex-direction: column;
      height: max-content; } }
  @media (max-width: 1000px) {
    .maincontent {
      padding: 1rem 1rem;
      width: 100%;
      height: max-content; } }

.full {
  grid-template-columns: 2fr 0.01fr;
  transition: all 0.4s ease-in; }

.maincontent-title {
  line-height: 1.2; }
  .maincontent-title h3 {
    font-size: 1.5rem;
    font-weight: 600; }
    @media (max-width: 600px) {
      .maincontent-title h3 {
        font-size: 2rem; } }
  .maincontent-title h5 {
    color: #797979; }
    @media (max-width: 600px) {
      .maincontent-title h5 {
        margin-bottom: 2rem; } }

.maincontent-images {
  width: fit-content;
  padding: 0 9rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "img1  img2 img3" "img1 img4 img5"; }
  @media (max-width: 600px) {
    .maincontent-images {
      display: flex;
      padding: 0%;
      flex-wrap: wrap;
      justify-content: center; } }
  @media (max-width: 1000px) {
    .maincontent-images {
      width: 100%;
      padding: 1rem; } }
  .maincontent-images img {
    height: 10rem;
    object-fit: fill;
    margin-bottom: 1rem;
    padding: 0.5rem;
    cursor: pointer; }
    @media (max-width: 600px) {
      .maincontent-images img {
        height: 8rem;
        width: auto;
        padding: 0;
        margin-bottom: 0.4rem; } }

.maincontent-images__img2 {
  grid-area: img2; }

.maincontent-images__img3 {
  grid-area: img3; }

.maincontent-images__img4 {
  grid-area: img4; }

.maincontent-images__img5 {
  grid-area: img5; }

.maincontent-images__img1 {
  grid-area: img1;
  min-height: 20rem;
  align-self: center; }
  @media (max-width: 600px) {
    .maincontent-images__img1 {
      min-height: 16rem; } }

.maincontent-images__main {
  height: 9rem;
  display: flex;
  justify-content: center;
  width: 100%; }
  @media (max-width: 600px) {
    .maincontent-images__main {
      margin-bottom: 1rem; } }
  .maincontent-images__main img {
    width: 73%;
    object-fit: fill;
    height: 9rem;
    cursor: pointer; }
    @media (max-width: 600px) {
      .maincontent-images__main img {
        width: 100%;
        margin-bottom: 1rem; } }
    @media (max-width: 1000px) {
      .maincontent-images__main img {
        width: 100%;
        margin: 1rem 0; } }

.maincontent-content {
  display: flex;
  flex-direction: column;
  align-items: center; }

.maincontent-hotseller__title {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 600px) {
    .maincontent-hotseller__title {
      margin: 1rem 0; } }
  .maincontent-hotseller__title h5 {
    font-weight: 500;
    font-size: 1.1rem; }

.maincontent-cartButton {
  height: fit-content;
  padding: 0.2rem 1rem;
  background-color: #fde8ea;
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
  cursor: pointer; }

.maincontent-subImages {
  display: flex;
  width: fit-content; }
  @media (max-width: 600px) {
    .maincontent-subImages {
      flex-wrap: wrap;
      justify-content: center; } }
  @media (max-width: 1000px) {
    .maincontent-subImages {
      flex-wrap: wrap;
      justify-content: center; } }
  .maincontent-subImages img {
    height: 11rem;
    object-fit: fill;
    margin: 1rem; }
    @media (max-width: 600px) {
      .maincontent-subImages img {
        height: 10rem;
        width: auto;
        margin: 0.2rem; } }
    @media (max-width: 1000px) {
      .maincontent-subImages img {
        height: 12rem;
        width: auto; } }

.shopping {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4.5fr; }
  @media (max-width: 600px) {
    .shopping {
      display: block;
      overflow-x: hidden; } }
  @media (max-width: 1000px) {
    .shopping {
      width: 100vw;
      height: fit-content; } }

.right {
  margin: 0;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  background: linear-gradient(200deg, #ffffff 0%, #ffffff 60%, #f7dee4 100%);
  -webkit-box-shadow: -2px 1px 23px 8px rgba(0, 0, 0, 0.1); }
  @media (max-width: 1000px) {
    .right {
      min-width: 100%; } }

@use "../abstracts/" as *;
.subHeader {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem; }
  .subHeader div {
    padding: 0.2rem 10%;
    cursor: pointer; }

@use "../abstracts/" as *;
.filterBar {
  padding: 1rem; }
  .filterBar div {
    padding: 0.2rem 1rem;
    margin: 1rem 0; }
    .filterBar div h5 {
      margin-bottom: 0.5rem; }
      @media (max-width: 1000px) {
        .filterBar div h5 {
          font-size: 1.2rem;
          padding: 1rem 0rem; } }

.filterBar-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .filterBar-price div {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.3rem; }
    .filterBar-price div div {
      width: max-content;
      margin-right: 0.1rem;
      font-size: 0.8rem;
      padding: 0.7rem 0.1rem;
      background-color: #fff4f9;
      border-radius: 10px; }
  .filterBar-price input {
    align-self: center;
    height: 0.2rem;
    background-color: white;
    width: 93%; }

.filterBar-apply {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .filterBar-apply h5 {
    font-size: 0.8rem; }
  .filterBar-apply button {
    height: fit-content;
    width: fit-content;
    background-color: #fc7b6b;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    color: black;
    padding: 0.4rem 1.3rem;
    align-self: flex-end; }
    @media (max-width: 1000px) {
      .filterBar-apply button {
        font-size: 1.2rem; } }

@use "../abstracts/" as *;
.shoppingMainContent {
  display: flex;
  flex-direction: column; }
  .shoppingMainContent h1 {
    padding: 0rem 3.5rem;
    font-size: 0.8rem;
    color: #a19f9f;
    margin-bottom: 0.1rem; }
  @media (max-width: 600px) {
    .shoppingMainContent {
      width: 100%; } }
  @media (max-width: 1000px) {
    .shoppingMainContent {
      width: 100%; } }

.shoppingMainContent-container {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  @media (max-width: 600px) {
    .shoppingMainContent-container {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 1000px) {
    .shoppingMainContent-container {
      grid-template-columns: repeat(2, 1fr); } }

.item {
  margin: 0rem 1rem;
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 1000px) {
    .item {
      font-size: 1.2rem; } }

.item-img {
  width: 100%;
  height: 20rem; }
  .item-img img {
    height: 100%;
    width: 100%;
    object-fit: contain; }

.order {
  background: linear-gradient(100deg, #fff2f6 0%, snow 100%);
  height: 100vh; }
  @media (max-width: 1000px) {
    .order {
      max-height: max-content;
      overflow-x: hidden; } }

.mainContentOrder {
  display: flex;
  width: 100vw;
  margin: 3rem 0; }
  @media (max-width: 1000px) {
    .mainContentOrder {
      max-width: 100vw;
      margin: 0;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; } }

.orderImageContainer {
  margin-left: 3rem;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 1000px) {
    .orderImageContainer {
      justify-content: start;
      align-items: start; } }
  .orderImageContainer img {
    width: 40vw;
    object-fit: contain; }
    @media (max-width: 1000px) {
      .orderImageContainer img {
        width: 80%;
        margin-bottom: 1rem;
        margin-left: 1rem; } }

.details {
  margin: 0 5rem;
  width: 50vw;
  color: white;
  background-color: #fc7b6b;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.3rem;
  border-radius: 20px;
  height: 40rem; }
  @media (max-width: 1000px) {
    .details {
      font-size: 1rem;
      width: 100%;
      margin: 0;
      height: fit-content; } }
  .details button {
    padding: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #fe8f80;
    color: white;
    font-size: 1.2rem; }
    .details button:hover {
      background-color: #ff5537;
      color: #f9f9f9; }

.details-color {
  padding: 0.3rem 1rem;
  margin: 1rem 1rem;
  border: 1px solid #413a3a;
  margin-left: 0; }

.detail-color_container {
  margin: 2rem;
  margin-left: 0;
  height: max-content; }

.detail-size {
  margin: 1rem 0;
  display: flex; }
  .detail-size span {
    border: 2px solid rgba(255, 203, 188, 0.675);
    padding: 0.8rem 2.8rem; }
    @media (max-width: 1000px) {
      .detail-size span {
        padding: 0.8rem 2rem; } }
    .detail-size span:hover {
      background-color: #ff5537;
      color: white; }

.selected {
  background-color: #ff5537;
  color: white; }

.details-firstSection div {
  margin: 1rem 0; }

.details-name {
  font-size: 2rem; }

.details-title {
  font-size: 1.5rem; }

.cart {
  display: flex;
  background-color: white;
  width: 100vw;
  padding: 3rem;
  height: 100vh; }

.cartItems {
  background-color: transparent;
  width: 210vw; }

.cartItem {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1.5px solid rgba(110, 109, 109, 0.848); }

.cartItem-info_columnOne {
  width: 40rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between; }
  .cartItem-info_columnOne div h1 {
    padding-bottom: 1rem; }
  .cartItem-info_columnOne_stock {
    color: #76c27f; }

.cartItem-info_columnTwo {
  width: 40rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 1rem; }
  .cartItem-info_columnTwo_options {
    display: flex;
    justify-content: space-between;
    width: 6rem; }

.cartPayment {
  background-color: #ed397e;
  width: 100%;
  margin: 0 3rem;
  border-radius: 20px;
  padding: 2rem;
  height: fit-content;
  color: white;
  position: sticky; }

.cartpayment-column {
  display: flex;
  padding: 1rem; }

.cartpayment-columnOne {
  display: flex;
  flex-direction: column; }
  .cartpayment-columnOne_columnOne {
    display: flex;
    background-color: #827a81;
    width: fit-content;
    border-radius: 10px;
    padding: 0.6rem;
    margin: 0.3rem; }
    .cartpayment-columnOne_columnOne div {
      padding: 0.5rem; }

.cartpayment-columnTwo input {
  padding: 1rem 2rem;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }
.cartpayment-columnTwo button {
  border: rgba(0, 0, 0, 0.644) solid 1px;
  background-color: white;
  padding: 0.6rem 1rem; }

.cartpayment-columnThree {
  display: flex;
  flex-direction: column; }
  .cartpayment-columnThree_columnOne {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(148, 147, 147, 0.696); }
    .cartpayment-columnThree_columnOne_details div {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      padding-top: 0.6rem; }
  .cartpayment-columnThree_columnTwo {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-top: 0.6rem; }

.cartpayment-columnFour {
  flex-direction: column; }
  .cartpayment-columnFour button {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    background-color: white;
    margin: 0.3rem 0;
    font-size: 1rem;
    cursor: pointer; }
    .cartpayment-columnFour button:hover {
      background-color: #f0bdd3; }

/*# sourceMappingURL=main.css.map */
